@import "./node_modules/bourbon/app/assets/stylesheets/_bourbon.scss";

$browserType: "modernWeb" !default;


@if ($browserType == "modernWeb") {
$useFlexbox: true !global;
$supportMobile: true !global;
}

@if ($browserType == "ie") {
$useFlexbox: false !global;
$supportMobile: false !global;
}

@if ($browserType == "native") {
$useFlexbox: true !global;
$supportMobile: true !global;
}

@mixin legacy {
    @if $browserType == "ie" {
        @content;
    }
}

@mixin modern {
    @if $browserType != "ie" {
        @content;
    }
}

@mixin mobile {
    @if $supportMobile {
    @media (max-width: 767px) {
        @content;
    }
    }
}

@mixin tablet {
    @if $browserType != "ie" {
    @media (min-width: 768px) {
        @content;
    }
    }
    @else {
        @content;       
    }
}

